.event-item__info {
    padding: 20px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    h3 {
        margin-bottom: 10px;
        cursor: pointer;
        color: #23221f;
        font-weight: 700;
        font-size: 20px;
    }
    span {
        color: #6c7272;
    }
    h4 {
        font-size: 25px;
        font-weight: 700;
        color: #fa7d09;
        margin-top: 10px;
    }
    button {
        border: none;
        outline: none;
        width: fit-content;
        color: #fff;
        font-weight: 700;
        border-radius: 10px;
        position: relative;
        background-image: url("../../images/Btn\ xem\ chi\ tiết\ \(3\).png");
        background-size: 100% 100%;
        height: 40px;
        width: 200px;
        cursor: pointer;
        margin-top: 10px;
    }
}
.event-item {
    height: 410px;
    width: 280px;
    background-color: #ffffff;
    border-radius: 15px;
    /* box-shadow: 4px 4px 45px rgba(109, 46, 0, 0.35); */
    overflow: hidden;
    img {
        width: 280px;
    }
}
.time {
    display: flex;
    align-items: center;
    margin-top: 10px;
    gap: 10px;
    img {
        width: 20px;
        object-fit: cover;
    }
    span {
        font-weight: 500;
        font-size: 18px;
    }
}
